@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald:wght@500&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.right {
    margin-right: calc(11% + 24px);
    margin-top: 0px;
}

.HEADER_IMAGE {
    object-fit: cover;
    background-color: transparent;
}

.svg {
    width: 48px;
    height: 48px;
}

.asiuhd {
    display: flex;
    border-bottom: 1px solid #e9e9eb;
    padding-bottom: 10px;
    align-items: center;
    height: 34%;
    margin-bottom: 8px;
    flex-direction: row;
}

.header {
    height: 80px;
    padding: 0px calc(11% + 11px);
    border-bottom: 1px solid rgb(226, 226, 231);
    display: flex;
    box-shadow: rgba(27, 30, 36, 0.06) 0px 8px 16px, rgba(27, 30, 36, 0.04) 0px 0px 8px;
    top: 0;
    background-color: white;
    z-index: 234;
    position: sticky;
    justify-content: space-between;

}

.wrapper {
    position: relative;
    z-index: 10;
    height: 208px;
    border-radius: 15px;
}

.wrapper_size {
    height: 208px;
    width: 100%;
}

.wrapper_shimmer {
    animation-duration: 2.2s;

    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%
}

.image-res {
    z-index: 0;
    position: relative;
    object-fit: cover;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 325px;

    height: 216px;
    border-radius: 15px;


}

.shadow {
    z-index: 12;
    position: relative;
    bottom: 81px;
    left: 0px;
    width: 100%;
    height: 81px;
    border-radius: 15px;
    background-color: black;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}

.offer {
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.5px;
    position: absolute;
    top: 49px;
    left: 9px;
    color: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.logo {
    height: 100%;

}

.time_del {
    font-weight: 200;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 200px;
}

.sort {
    display: flex;
    padding: 20px;
    justify-content: end;
}

.buttons {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 22px;
}

.left_slide_btn {
    border-radius: 100%;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
}

.right_slide_btn {
    border-radius: 100%;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
}

.left_slide_btnw {
    border-radius: 100%;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
}

.right_slide_btnw {
    border-radius: 100%;
    padding: 8px 8px 4px;
    background: rgb(226, 226, 231);
}

.br {

    width: 90%;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    height: 3px;
    border-radius: 2px;
    position: relative;
    background-color: rgb(240, 240, 245);
}

.crousel {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 27px;
    justify-content: center;
    gap: 23px;
}

.upper {
    display: flex;
    width: 95%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.cards {
    flex: 0 0 25%;
}

.perent_slider {
    width: 95%;
    height: 100%;
    flex-direction: row;

    overflow: hidden;

    column-gap: 12px;
    display: flex;
}

.slider {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    /* --slider-index: 0; */
    flex-direction: row;
    gap: 10px;

    /* transform: translateX(calc(var(--slider-index) * -10%)); */
    transition: all 2s ease-in-out;
    column-gap: 12px;
    display: flex;
    overflow-x: scroll;
}

.sliderw {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    /* --slider-index: 0; */
    flex-direction: row;
    gap: 10px;

    /* transform: translateX(calc(var(--slider-index) * -10%)); */
    transition: all 2s ease-in-out;
    column-gap: 12px;
    display: flex;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Webkit-based browsers */
}

.sliderw::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Webkit-based browsers */
}

.container_main {

    height: 100%;
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
    padding: 0;
    gap: 23px;
    flex-direction: column;
    display: flex;

}

.container_main_shimmer {

    flex-direction: row;
    gap: 23px;
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
    padding: 0;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;

}

.cr_title {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-family: 'Rubik', sans-serif;
    color: rgba(2, 6, 12, 0.92);
}

.topres {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-family: 'Rubik', sans-serif;
    color: rgba(2, 6, 12, 0.92);
}

.give_padding {
    /* display: flex;
    flex-direction: row;
    height: 100%;
    column-gap: 32px;
    width: 100%;
    flex-flow: row wrap;
    padding: 0px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 45px; */

    flex-flow: wrap;
    justify-content: flex-start;
    align-items: start;
    gap: 45px;
    column-gap: 32px;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
}

.rating {
    margin: 10px 10px 10px 10px;
    display: flex;
}

.ulas {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 574px;
    margin-right: 79px;
    height: 100%;
    list-style-type: none;
    display: flex;
}


.itemss {

    /* -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;

    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    margin: 2px 0 0px 12px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */

    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 2px 0 0px 12px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 97%;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;


}

.item {
    font-family: Arial, Helvetica, sans-serif
}

.container-card {
    max-width: 325px;
    width: max-content;
    height: max-content;
    display: flex;
    cursor: pointer;
    gap: 20px;
    justify-content: center;
    align-items: self-start;
    padding: 0;
    transition: all 0.1s ease-in-out;
    flex-direction: column;

}

.container-card:hover {
    scale: 0.95;
}

.container-card_shimmer {
    width: 312px;
    display: flex;
    cursor: pointer;
    gap: 12px;
    justify-content: center;
    align-items: self-start;
    padding: 0;
    flex-direction: column;
    height: 310px;
}

.content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}



.name_of_hotel {
    font-size: 18px;
    margin: 0px 0 0px 12px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    -webkit-font-smoothing: antialiased;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: 'Rubik', sans-serif;
}

.name_of_hotel_shimmer {
    height: 24px;
    width: 75%;
    margin-bottom: 12px;
    border-radius: 20px;

}

.navitems {
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.info_card {
    text-align: left;
    width: 100%;

}

.uppar_body {
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    outline: none;
    overflow: hidden;
}



.RES_MIDDLE_NAME {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.43px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    color: rgba(2, 6, 12, 0.75);

}

.arrow {
    width: 128px;
    height: 10px;
    margin-top: 0px;
}

.set {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 100%;

}

.left {
    margin-left: calc(11% + 11px);
    margin-top: 15px;


    height: 145px;
    max-width: 344PX;
}

.image {
    height: 100%;
}

.img_offer {
    width: 425px;
    cursor: pointer;
}

.left_slide_btn:hover {
    transform: scale(0.95);
}

.right_slide_btn:hover {
    transform: scale(0.95);
}

.offers_div {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 23px;
    overflow: hidden;
    margin-top: 27px;
    display: flex;
}

.img_off_cont {
    cursor: pointer;
    width: 33.3333333333%;

}

.stars_text {
    margin-left: 7px;
    font-weight: 200;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.offer_cont {
    display: flex;
    gap: 16px;
    flex-direction: row;
    width: 100%;
}

.perent_div {

    justify-content: center;
    display: flex;
    align-items: center;
    /* height: calc(100vh-60px); */
    height: calc(100vh - 81px);
}

.child_cont {
    height: 100%;
    width: 800px;
    margin-top: 55px;
    max-width: 800px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.top_bar_small {
    position: relative;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
    height: 52px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.res_name_rh {
    height: 100%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    color: #93959f;
    font-family: 'Kanit', sans-serif;

}

.search_rh {
    height: 100%;
    justify-content: end;
    width: 7%;
    font-family: 'Kanit', sans-serif;


}

.svg_mag {
    width: 40%;
}

.upperinfo_up {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 16px;
    margin-bottom: 18px;
    height: 83.0312px;
}

.naishdu {
    font-size: 1.43rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
}

.sedfs {
    width: 20px;
}

.aihso {
    font-size: .93rem;
    color: #7e808c;
    height: calc(0.93rem + 8px);
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;
    font-family: 'Kanit', sans-serif;
}

.upper_info {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0 16px;
    height: 160.031px;
    width: 100%;


}

.upperinfo_dw {
    width: 100%;
    height: 18px;

}

.svgsvg {
    margin-right: 10px;
}

.hrhr {
    border: none;
    margin-bottom: 18px;
    box-sizing: content-box;
    height: 1px;
    width: 100%;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    border-bottom: 1px dashed #d3d3d3;
}

.list {
    list-style: none;
    display: flex;
    margin-right: 24px;
    justify-content: space-between;
    align-items: center;

}

.afaw {
    color: #3d9b6d;
    margin-left: 9px;
    margin-top: 1px;

    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.lf_lf {
    text-align: center;
    border: 1px solid #e9e9eb;
    border-radius: 6px;
    width: 56px;
    display: flex;
    max-width: 100px;
    box-sizing: content-box;
    height: 53.5px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 1px 5px #f9f9f9;
    flex-direction: column;
    align-items: center;
}

.ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
}

.timespan {
    font-family: 'Kanit', sans-serif;
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
}

.Coupen_wrap {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    margin-left: 4px;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.fwsea {
    font-size: 11px;
    color: #8b8d97;
    font-family: 'Kanit', sans-serif;
    width: 106%;
    font-weight: 600;
}

.coupen_cont {
    width: 100%;

    height: 78.2188px;
    display: flex;
    margin-top: 18px;
    justify-content: start;

    align-items: center
}

.asdasddds {
    justify-content: end;
    display: flex;
    align-items: end;
}

.Copen_card_cont {
    height: 68.2188px;
    border: 1px solid yellow;
    display: flex;
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .04);
    border-radius: 8px;
    padding: 8px;
    flex-direction: column;
    /* margin-top: 18px; */
    margin-right: 12px;
    min-width: 200px;


}

.offer_icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.cp_up {
    font-size: 1.07rem;
    font-weight: 600;
    white-space: nowrap;
    color: #686b78;
    margin-top: 1px;
    line-height: 17.976px;
    font-size: 14.98px;
    font-family: 'Kanit', sans-serif;
}

.askdf {
    display: flex;

    align-items: center;

    flex-direction: row;
    width: 149.812px;
}

.afas {
    font-size: 11.04px;
    color: #93959f;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    top: -90000px;
    left: -9000px;
    position: absolute;
}



input[type="checkbox"].toggle:checked + label {
    color: #0f8a65;

}

input[type="checkbox"].toggle + label {
    display: flex;
    width: 45px;
    position: relative;
}

input[type="checkbox"].toggle + label::before {
    content: '';
    width: 36px;
    height: 18px;
    margin-right: .25em;
    transition: all .25s linear;
    border-radius: 4px;
    background-color: #d4d5d9;
}

input[type="checkbox"].toggle:checked + label::before {
    background-color: rgb(0, 128, 0)
}

input[type="checkbox"].toggle + label::after {
    transition: all .25s linear;
    margin-left: 1px;
    margin-right: 2px;
    content: "";
    background-color: #fff;
    width: 18px;
    box-sizing: border-box;
    height: 18px;
    position: absolute;
    left: 0;
    border: 2px solid #d4d5d9;
    border-radius: 4px;


}

input[type="checkbox"].toggle:checked + label::after {
    content: "\25CF";
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 128, 0);
    align-items: center;
    background-color: #fff;


}

.veg {
    display: flex;
    margin-top: 24px;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-left: 13px;
    align-items: center;
}

.asmod {
    border-top: 2px solid #f1f1f6;
    height: 0.5px;
    margin: 24px auto;
    width: calc(100% - 32px);
}

.vegl {
    width: 20px;
}

.btnnnnn {
    position: absolute;
    width: 96px;
    height: 36px;
    background-color: white;
    bottom: 15px;
    left: 10%;
    border: 1px solid #d4d5d9;
    color: #60b246;
    box-shadow: 0 3px 8px #e9e9eb;
    border-radius: 4px;
}

.asdasdasd {
    position: absolute;
    height: 20px;
    width: 30px;

}

.vegonly {
    font-size: 14px;
    color: #3d4152;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Kanit', sans-serif;
    ;
}

.main_drop_cont {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;


}

.dis_box_cont {
    height: 135px;
    max-width: 100%;
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;


}

.dividessss {
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    width: 100%;
    margin: 20px 0;
}

.ppeerr {
    display: flex;
    flex-direction: column;
}

.disrh {
    max-width: calc(100% - 144px);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 112.672px;

}

.ehs {
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

.disll {
    position: relative;
    margin-left: 16px;
    min-width: 118px;
    height: 120px;
    font-size: 0;

}

.text_item_m {
    margin-right: 4px;
    font-size: 17.08px;
    font-weight: 500;
    color: #3e4152;
    font-family: 'Kanit', sans-serif;
    word-break: break-word;
}

.text_item_p {
    font-family: 'Kanit', sans-serif;
}

.text_item_d {
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40, 44, 63, .45);
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    letter-spacing: -.3px;

}

.aosin {
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    width: 100%;
    margin: 20px 0;
}

.drop_head {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    box-sizing: border-box;
}

svg:not(:root) {
    overflow: hidden;
}

._2MSid {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}

._1GTCc {
    position: relative;
    stroke: currentColor;
    fill: #3d4152;
    stroke-width: 0;
}

._1GTCsc {
    position: relative;
    stroke: #3d4152;
    ;
    fill: #ffffff;
    stroke-width: 1;
}

._2vS77 {
    font-size: 14px;
    font-weight: 600;
    top: 13px;
    position: absolute;
    left: 7px;
}

.aijf {
    font-family: 'Kanit', sans-serif;
    color: #3e4152;
    font-weight: 800;
    font-size: 18.2px;
}

.asuif {
    width: 20px;
}

.itemt {
    margin-right: 20px;
}

.navdiv {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.tag_nav {
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;
    color: #3d4152;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: 500;

}

.asddd {
    text-decoration: none;
}

._3yZyp {
    left: 0;
    line-height: 0;
}

.search_cont {
    padding-bottom: 48px;
    min-height: 100vh;
    width: 800px;

    margin: 20px auto 0;
}

.Search_item_res {
    width: 100%;
    font-size: 1.1rem;
    line-height: 20px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    overflow: hidden;

    font-family: 'Noto Sans', sans-serif;


    color: inherit;
    background: inherit;
    vertical-align: middle;
}

.Search_item_res::-webkit-input-placeholder {
    font-family: 'Kanit', sans-serif;
}

.Link_card {
    text-decoration: none;
    color: inherit;
}

.sahua {
    padding: 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    line-height: 0;
    height: 100%;
}

.search_bar {
    width: 100%;
    border-bottom: 1px solid rgba(40, 44, 63, .2);
    height: 52px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}














































































































@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}